{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}
	
	<div class="container text-center mt-4">
		<h1>Bienvenue sur Snowtricks</h1>
	</div>
	
	<div class="container">
		<h2>Tous les tricks</h2>
		
		{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.verified is same as false %}
			<p class="text-warning">Pensez à valider votre compte en cliquant sur le lien reçu sur {{ app.user.email }} pour bénéficier de toutes les fonctionnalités de votre compte (création de
				tricks, envoi d'un commentaire...).</p>
		{% endif %}
		
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		
		{% if is_granted('ROLE_USER') %}
			<a href="{{ path('publish.trick.new') }}" class="btn btn-primary mt-2 mb-4">Créer un nouveau trick</a>
		{% endif %}
		<div class="row row-cols-5">
			{% for trick in tricks %}
				<div class="col mt-4">
					<div class="card">
						{% if trick.headerImage %}
							<img src="{{ asset('/uploads/images/header/' ~ trick.headerImage) }}" alt="Header-Image">
						{% endif %}
						<div class="card-body">
							<h5 class="card-title">
								<a href="{{ path('trick.show', {id: trick.id, slug: trick.slug}) }}">{{ trick.category.name }} | {{ trick.title }}</a>
								{% if is_granted('ROLE_ADMIN') %}
									<a href="{{ path('admin.trick.edit', {id: trick.id}) }}"><i class="far fa-edit"></i></a>
									<form method="post" action="{{ path('admin.trick.delete', {id: trick.id}) }}" onsubmit="return confirm('Confirmer la suppression ?')">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
										<button><i class="far fa-trash-alt"></i></button>
									</form>
								{% endif %}
							</h5>
							<p class="card-text">{{ trick.description | nl2br }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		
		{% if next < tricks|length %}
			<a href="{{ path('home', { offset: next }) }}">Next</a>
		{% endif %}
	</div>

{% endblock %}