{% extends 'base.html.twig' %}

{% block title trick.title %}

{% block body %}
	
	<img src="{{ asset('/uploads/images/header/' ~ trick.headerImage) }}" alt="Header-Image">
	
	<div class="d-flex flex-row-reverse me-4 mt-2">
	{% if is_granted('trick_edit', trick) %}
		<div>
			<a href="{{ path('publish.trick.edit', {id: trick.id}) }}"><i class="far fa-edit text-info h2"></i></a>
		</div>
	{% endif %}
	{% if is_granted('ROLE_ADMIN') %}
		<div class="me-2">
			<form class="d-inline" method="post" action="{{ path('admin.trick.delete', {id: trick.id}) }}" onsubmit="return confirm('Confirmer la suppression ?')">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
				<button class="border-0 bg-white"><i class="far fa-trash-alt text-info h2"></i></button>
			</form>
		</div>
	{% endif %}
	</div>
	
	<div class="container">
		
		<h1 class="text-info">{{ trick.title }}</h1>
		<h2><span class="badge bg-info">{{ trick.category.name }}</span></h2>
		<p class="my-4">{{ trick.description | nl2br }}</p>
		<p class="text-center h5 mt-2 mb-4">
			<span class="badge bg-info">Par {{ trick.user.userIdentifier }}</span>
			<span class="badge bg-info">{{ trick.category.name }}</span>
			<span class="badge bg-info">Créé le {{ trick.createdAt | date('d/m/Y') }}</span>
			{% if trick.updatedAt is not null %}
				<span class="badge bg-info">Modifié le {{ trick.updatedAt | date('d/m/Y') }}</span>
			{% endif %}
		</p>
		
		<div class="row d-flex justify-content-center">
			{% if trick.images %}
			<div class="col-md-4 mt-4 d-none d-lg-block">
				<div id="img-carousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						{% endif %}
						{% for image in trick.images %}
							<div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
								<img src="{{ asset('/uploads/images/' ~ image.name) }}" alt="trick image">
							</div>
						{% endfor %}
						{% if trick.images %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#img-carousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#img-carousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			{% endif %}
			
			{% if trick.videos %}
			<div class="col-md-4 mt-4 mb-5 d-none d-lg-block">
				<div id="video-carousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						{% endif %}
						{% for video in trick.videos %}
							<div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
								<iframe width="400" height="250" src="{{ video.link }}" frameborder="0"
										allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						{% endfor %}
						{% if trick.videos %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#video-carousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#video-carousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			{% endif %}
		</div>
		
		<div class="d-lg-none">
			<p class="text-center">
				<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">
					Voir les médias
				</button>
			</p>
			<div class="collapse mb-4 text-center" id="collapse">
				{% for image in trick.images %}
					<div class="col">
						<img src="{{ asset('/uploads/images/' ~ image.name) }}" alt="Image">
					</div>
				{% endfor %}
				{% for video in trick.videos %}
					<div class="col">
						<iframe width="400" height="250" src="{{ video.link }}" frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				{% endfor %}
			</div>
		</div>
		{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.verified is same as true %}
			{% form_theme form 'bootstrap_5_layout.html.twig' %}
			{{ form_start(form) }}
			{{ form_rest(form) }}
			<button class="btn btn-primary mb-4">Valider</button>
			{{ form_end(form) }}
		{% endif %}
		
		<div class="col-md-12">
			<ul class="list-unstyled">
				{% for comment in comments %}
					<li>
						<div class="row mb-4">
							<div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 d-flex justify-content-sm-end">
								{% if comment.user.picture %}
									<img src="{{ asset('/uploads/images/user/' ~ comment.user.picture) }}" class="mb-3 rounded-circle" alt="Avatar" width="100" height="100">
								{% else %}
									<img src="{{ asset('/uploads/images/user/default.jpg') }}" class="mb-3 rounded-circle" alt="Avatar" width="100" height="100">
								{% endif %}
							</div>
							<div class="col-xxl-11 col-xl-10 col-lg-9 col-md-8 col-sm-7">
								<h5>Par {{ comment.user.userIdentifier }}, le {{ comment.createdAt | date('d/m/Y') }}</h5>
								
								<p class="mt-3">{{ comment.message }}</p>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-12">
			<ul class="list-unstyled">
				{% for comment in comments %}
					<div id="comments">
					</div>
				{% endfor %}
			</ul>
		</div>
		{% if trick.comments.toArray|length > 10 %}
		<div class="text-center">
			<a href="{{ path('trick.comments.show', {id: trick.id, slug: trick.slug}) }}" data-load>
				<btn class="btn btn-primary mt-4" onclick="increment();">Charger plus</btn>
			</a>
		</div>
		{% endif %}
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/load_comments.js') }}"></script>
{% endblock %}
