{% extends 'base.html.twig' %}

{% block title trick.title %}

{% block body %}
	
	<img src="{{ asset('/uploads/images/header/' ~ trick.headerImage) }}" alt="Header-Image">
	
	<div class="container mt-4">
		<h1>{{ trick.category.name }} | {{ trick.title }}</h1>
		<p class="mt-4">{{ trick.description | nl2br }}</p>
		<p class="text-center">
			Créé le {{ trick.createdAt | date('d/m/Y') }}
			{% if trick.updatedAt is not null %}
				(Modifié le {{ trick.updatedAt | date('d/m/Y') }})
			{% endif %}
		</p>
		
		
		<div class="row">
			{% for image in trick.images %}
				<div class="col">
					<img src="{{ asset('/uploads/images/' ~ image.name) }}" alt="Image">
				</div>
			{% endfor %}
			
			{% for video in trick.videos %}
				<div class="col">
					<iframe width="400" height="250" src="{{ video.link }}" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			{% endfor %}
		</div>
		
		{% form_theme form 'bootstrap_5_layout.html.twig' %}
		{{ form_start(form) }}
		{{ form_rest(form) }}
		<button class="btn btn-primary">Valider</button>
		{{ form_end(form) }}
		
		{% for comment in comments %}
			{{ comment.message }}
			{{ comment.user.username }}
			{{ comment.createdAt | date('d/m/Y') }}
		{% endfor %}
	</div>

{% endblock %}